@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: #e5d7b1;
	display: flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
	display: none;
}

.entry-content {
	margin-top: 50px;
}

.entry-content.inactive {
	display: none;
}

@media (max-width: 1240px) {
	body {
		min-height: 100%;
	}

	.entry-content {
		min-width: 90vw;
	}
}