@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(45deg, #8500ff, #5acaff);
	height: 100vh;
}

#container {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('p404.png') #151729;
	box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#container .content {
	max-width: 800px;
	text-align: center;
}

#container .content h1 {
	font-size: 7vw;
	color: #fff;
	line-height: 1em;
}

#container .content h3 {
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
}