@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #03a9f4;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #112d42;
}

section .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  margin-top: 30px;
  transition: 0.5s;
}

section .container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #36db19;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

section .container .contactInfo h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 650;
}

section .container .contactInfo .info {
  position: relative;
  margin: 20px 0;
}

section .container .contactInfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

section .container .contactInfo .info li a {
  position: relative;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

section .container .contactInfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

section .container .contactInfo .info li span:nth-child(1) img {
  max-width: 100%;
  opacity: 0.5;
}

section .container .contactInfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
}

section .container .contactInfo .info li:hover span:nth-child(1) img,
section .container .contactInfo .info li:hover span:nth-child(2) {
  opacity: 1;
}

section .container .contactInfo .sci {
  position: relative;
  display: flex;
}

section .container .contactInfo .sci li {
  list-style: none;
  margin-right: 15px;
}

section .container .contactInfo .sci li a {
  text-decoration: none;
}

section .container .contactInfo .sci li a img {
  opacity: 0.5;
  max-width: 40px;
}

section .container .contactInfo .sci li:hover a img {
  opacity: 1;
}

section .container .contactForm {
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .container .contactForm h2 {
  color: #36db19;
  font-size: 35px;
  font-weight: 600;
}

section .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

section .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

section .container .contactForm .formBox .inputBox.w50 {
  width: 45%;
}

section .container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

section .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

section .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  resize: none;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #36db19;
}

section .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #36db19;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #29a513;
}
